*{
    padding: 0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.upper{
    height:100vh;
    width:100vw;
    
    background-image: url(img4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding-top:15px;
}
nav h2{
  color: white;
  margin-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 40px;
  transition: 200ms all ease-in;
  box-shadow:inset 10px 0 10px orangered;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding:15px;
  margin-left:90px;
  padding-left: 90px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
nav ul li a:hover{
  color: white;
  border-radius: 50%;
  box-shadow:inset 10px 0 10px orangered;
}
.text{
  position:absolute;
  top:50%;
  right:8%;
}
h1{
  font-family:'Courier New', Courier, monospace;
  color:white;
  font-size: 50px;
  padding:15px;
}
h3{
  font-family:'Courier New', Courier, monospace;
  color:whitesmoke;
  font-size:25px;
  padding-bottom:15px;
  padding-left:20px;
}
h4{
  font-family:'Courier New', Courier, monospace;
  color:whitesmoke;
  font-size:30px;
  padding-bottom:35px;
  padding-left:20px;
}
.middle{
  width:100%;
  padding:15px;
  background-color: #191919
}
.middle img{
  height:auto;
  width: 430px;}
.about{
  width:550px;
}
.content{
  width: 1130px;
  max-width:95%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content: space-around;
}
h6{
  color: white;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 30px;
  box-shadow: 4px 1px 3px rgb(12, 141, 201);
}
h7{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
.middle p{
  color: rgb(12, 141, 201);
  line-height: 30px;
  font-family: initial;
}
button{
  background-color: orangered;
  color: white;
  padding: 10px;
  margin-top:10px;
  font-weight: 30px;
  border-radius: 7px;
  border:0px;
  transition: 60ms all ease-in;
}
button:hover{
  background-color: paleturquoise;
  cursor: pointer;
}
.projects{
  background-color: black;
  color: whitesmoke;
  width:100%;
  padding:100px 0px;
}
.title h2{
  color:white;
  font-size: 75px;
  width:1130px;
  margin:30px auto;
  text-align: center;
}
.box{
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 50px;
  background-color: #191919;
  border-radius: 20px;
  margin-left:33%;
  position: relative;
  overflow:hidden;
  
}
.card img{
height: 35px;
padding-left: 45%;
}
.card h5{
  text-align: center;
  color: orangered;
  font-size: 23px;
}
.card p{
  text-align: center;
}
.gallery h2{
  color:white;
  font-size: 75px;
  width:1130px;
  margin:30px auto;
  text-align: center;color:white;
  font-size: 75px;
  width:1130px;
  margin:30px auto;
  text-align: center;
}
.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.cards{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin:15px;
  position: relative;
  overflow:hidden;
  text-align: center;
  
}
.cards img{
  display: block;
  text-align: center;
  height: 50%;
  padding:10px auto;
  padding-left: 0px;
  margin: 0;
  width: 100%;
  border: 2px solid rgb(12, 141, 201);;
/* padding-left: 45%;
padding-right: 45%; */

}
.cards h5{
  text-align: center;
  color: orangered;
  font-size: 23px;
}
.cards p{
  text-align: center;
  color: rgb(12, 141, 201);
  font-size: px;
}
.but{
  background-color: orangered;
  color: white;
  padding: 10px;
  margin-top:10px;
  font-weight: 30px;
  border-radius: 7px;
  border:0px;
  transition: 60ms all ease-in;
}
.but:hover{
  background-color: paleturquoise;
  cursor: pointer;
}
.par p{
  color:paleturquoise;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 25px;
}
.but{
  background-color: orangered;
  color: white;
  padding: 10px;
  text-decoration:none ;
  margin-top:10px;
  font-weight: 30px;
  border-radius: 7px;
  border:0px;
  transition: 60ms all ease-in;
}
.but:hover{
  background-color: rgb(144, 168, 168);
  cursor: pointer;
}
.contact{
  width:100%;
  height:290px;
  background-color:#191919; ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form{
  width:380px;
  max-width: 100%;
  position: relative;
}
.sec{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;

}
footer{
  position:relative;
  width: 100%;
  height: 400px;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}